<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Friend</title>

	<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
	
	<link href="css/style.css" rel="stylesheet">
	<link href="css/banner.css" rel="stylesheet">
	
	<!-- Specify google app client ID -->
	<meta name="google-signin-scope" content="profile email">
	<meta name="google-signin-client_id"
		content="768889397569-ifca7s46aplo8i4ikt95ba6ihjmmfdlf.apps.googleusercontent.com">
	
	<!-- jQuery -->
	<script	src="js/jquery-1.12.4.min.js"></script>
</head>

<body>
	<!-- header -->
	<div class="header">
		<div id="banner-wrapper">
			<nav class="navbar navbar-full navbar-inverse">
				<div class="container">	
					<a class="navbar-brand" href="#">MyDictionary</a>
					<ul class="nav navbar-nav navbar-left">
						<li class="nav-item"><a class="nav-link" href="/main">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/friend">Friends</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Dictionaries</a></li>
						<li class="nav-item"><a class="nav-link" href="/" onclick="signOut();">Logout</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Help</a></li>
					</ul>
					<form class="navbar-form navbar-right">
						<input type="text" class="form-control" placeholder="Search...">
						<button class="btn btn-default" type="button">Search</button>
					</form>
				</div> <!-- end of container -->
			</nav>
		</div> <!-- end of banner-wrapper -->
	</div> <!-- end of header -->
	
	<!-- body -->
	<div class="body">		
		<div class="container" id="friendList">
		</div> <!-- end of container -->
	</div> <!-- end of body -->
	
	<!-- footer -->
	<div class="footer">
	
	</div> <!-- end of footer -->
	
	<script src="js/googleAuth.js"></script>
	<script src="js/friend.js"></script>
	
	<!-- Google Platfom Library api -->
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<!-- bootstrap -->
	<script src="js/bootstrap/tether.min.js"></script>
	<script src="js/bootstrap/bootstrap.min.js"></script>
</body>
</html>