<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Main</title>

	<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
	
	<link href="css/style.css" rel="stylesheet">
	<link href="css/banner.css" rel="stylesheet">
	
	<!-- jQuery -->
	<script	src="js/jquery-1.12.4.min.js"></script>
</head>

<body>
	<!-- header -->
	<div class="header">
		<div id="banner-wrapper">
<!--
 			<a href="#">
				<p><img src="images/ho.gif" alt=""/><img src="images/asd.gif" alt=""/><img src="images/unnamed2.gif" alt=""/></p>
			</a>
 -->
			<nav class="navbar navbar-full navbar-inverse">
				<div class="container">	
					<a class="navbar-brand" href="#">MyDictionary</a>
					<ul class="nav navbar-nav navbar-left">
						<li class="nav-item"><a class="nav-link" href="/main">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/friend">Friends</a></li>
						<li class="nav-item"><a class="nav-link" href="/documentRoadMap">Dictionaries</a></li>
						<li class="nav-item"><a class="nav-link" href="/?q=signOut">Logout</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Help</a></li>
					</ul>
					<form class="navbar-form navbar-right" method="get" action="search">
						<input type="text" class="form-control" name="keyword" placeholder="Search...">
						<button class="btn btn-default" id="search-button" type="submit">Search</button>
					</form>
				</div> <!-- end of container -->
			</nav>
		</div> <!-- end of banner-wrapper -->
	</div> <!-- end of header -->
	
	<!-- body -->
	<div class="body">
<!--  		<div class="container"> -->
<!-- 			<div class="input-group"> -->
<!-- 				<input type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon2"> -->
<!-- 				<span class="input-group-btn"> -->
<!-- 					<button class="btn btn-default" type="button">Search</button> -->
<!-- 				</span> -->
<!-- 			</div> -->
<!-- 		</div> /.container -->
		
		<div class="container" id="documentList">
		</div> <!-- end of container -->
	</div> <!-- end of body -->
	
	<!-- footer -->
	<div class="footer">
	
	</div> <!-- end of footer -->
	
	<script src="js/main.js"></script>
	
	<!-- bootstrap -->
	<script src="js/bootstrap/tether.min.js"></script>
	<script src="js/bootstrap/bootstrap.min.js"></script>
</body>
</html>