@CHARSET "UTF-8";

body {
    background-color: #f5f8fa;
}

#main-container {
	border: 1px solid #a7d7f9;
	background-color: #eef6ff;
}

#friend-name {
	background-color: #d9edf7;
	border-bottom-style: hidden;
	border-color: #bce8f1;
}

#friend-email {
	border-top-style: hidden;
	border-color: #bce8f1;
}

#search-result-title {
	background-color: #d9edf7;
	border-bottom-style: hidden;
	border-color: #bce8f1;
}

#search-result-content {
	border-top-style: hidden;
	border-color: #bce8f1;
}
#search-result-image-content {
	border-style:hidden;
}

#test-red {
	background-color: red;
}

#test-blue {
	background-color: blue;
}
.document-view{
    white-space: pre-line;
}

